body {
  background-color: black;
}
.box {
  background-color: white;
  height: 80vh;
}
.drag {
  border: 2px solid black;
  height: 30px;
  width: 30px;
}
h1 {
  text-align: center;
  color: lightcyan;
}
